body {
    font-family: Arial, 'Times New Roman', Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    background-color: cornflowerblue;
    color: #FFDAB9;
}

.dark-mode {
    background-color: #121212;
    color: #e7e1e1;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

.button1{
    background-color: #2974e4;
    color: #efe9e9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Display a button shadow */
    border-color: #121212;
    border-radius: 8px;
    width: 50%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
    background-color: #1b4788; /* Darker Blue */
    color: #efe9e9; /* Change text color */
    box-shadow: 0 6px 16px 0 rgba(239,233,233,1), 0 6px 20px 0 rgba(0,0,0,0.19); /* change button shadow style */
}